# Task 5: Data Analysis on CSV Files

Python Developer Internship

In [ ]:

import pandas as pd
import matplotlib.pyplot as plt

In [ ]:

# 1. Load CSV
df = pd.read_csv("sales.csv")

# Preview dataset
print("First 5 rows:")
print(df.head())

In [ ]:

# 2. Basic info
print("\nShape of DataFrame:", df.shape)
print("\nColumns:", df.columns.tolist())
print("\nSummary Stats:")
print(df.describe())

In [ ]:

# 3. Add Sales Amount column
df["Sales"] = df["Quantity"] * df["Price"]
df.head()

In [ ]:

# 4. Groupby analysis
sales_by_region = df.groupby("Region")["Sales"].sum()
sales_by_product = df.groupby("Product")["Sales"].sum()

print("\nSales by Region:\n", sales_by_region)
print("\nSales by Product:\n", sales_by_product)

In [ ]:

# 5. Filtering (example: sales > 5000)
high_sales = df[df["Sales"] > 5000]
print("\nTransactions with Sales > 5000:\n", high_sales)

In [ ]:

# 6. Visualization: Sales by Region
plt.figure(figsize=(10,5))
sales_by_region.plot(kind="bar", color="skyblue")
plt.title("Total Sales by Region")
plt.ylabel("Sales Amount")
plt.show()

In [ ]:

# Visualization: Sales by Product
plt.figure(figsize=(10,5))
sales_by_product.plot(kind="bar", color="lightgreen")
plt.title("Total Sales by Product")
plt.ylabel("Sales Amount")
plt.show()

In [ ]:

# 7. NaN Check
print("\nMissing values:\n", df.isna().sum())